<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/21f8d2bb-0732-4b23-8f7e-ad0758bd646d/resourcegroups/API_TESTE/providers/Microsoft.Web/sites/Bot20240428101034</ResourceId>
    <ResourceGroup>API_TESTE</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://bot20240428101034.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f593e204-4279-47c2-aa93-b0bb48078ed1</ProjectGuid>
    <PublishUrl>https://bot20240428101034.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Bot20240428101034</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>